.body {
  background-color: dimgrey;
  width: auto;
  height: auto;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/77d9aa67575255.5b3e45eb69c5d.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
